<%- include("header") -%>
<h1>This is awesome ToDo list Made by Prashant</h1>
<p>He is a skilled Java
  developer, he have plenty
  of experience working
  with frameworks like
  Spring and Hibernate.
  His strong problemsolving abilities enable
  him to develop solid
  and scalable solutions.
  he is committed to
  staying up-to-date
  with technological
  changes and honing his
  talents.</p>
<%- include("footer") -%>